
/* layout */

#header {
  background-color: white;
}

#logo {
  float: left;
  padding: 4px;
}

#tools {
  float: right;
}

#menu {
  text-align: right;
  border-bottom: dotted 1px gray;
  padding-left: 16px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
}

#search {
  text-align: right;
  padding-left: 16px;
  padding-top: 4px;
  padding-right: 16px;
  padding-bottom: 4px;
}

#north {
}

#west {
  padding: 8px;
}

#south {
  text-align: center;
  padding-top: 4px;
}

#center {
}

/* login */

#login-form {
  width: 500px;
  margin: auto;
}

#login_email {
  background: transparent url(images/user.png) no-repeat scroll;
  padding-left: 24px;
}

#login_password {
  background: transparent url(images/password.png) no-repeat scroll;
  padding-left: 24px;
}

#login_captcha {
  background: transparent url(images/captcha.png) no-repeat scroll;
  padding-left: 24px;
  width: 100px;
}

/* ticket */

#ticket {
  background: #FFFFDD none repeat scroll 0 0;
  border: 1px groove #BBBBBB;
  padding: 0.5em 1em;
}

#ticket table.properties {
  border-collapse: collapse;
  border: 0;
  border-top: 1px solid #DDDD99;
}

#ticket table.properties tr {
  border-bottom: 1px dotted #EEEEDD;
}

#ticket table.properties th {
  width: 20%;
}

#ticket table.properties td {
  width: 30%;
}

/* form */

table.form {
  background-color: #F6F6F6;
  border: 1px groove #BBBBBB;
}

table.form th.key {
  background: #C3D9FF none repeat scroll 0 0;
  text-align: right;
  width: 15em;
}

.form-field-help {
  font-style: italic;
  color: #999999;
}

/* data */

table.data {
  border: 1px groove #BBBBBB;
}

table.data th.key {
  background: #C3D9FF none repeat scroll 0 0;
  text-align: right;
  width: 15em;
}

/*  */

.kiwi-panel {
  background: #F5F8F9;
}

.sidebar-list {
  list-style-type: none;
  margin: 0 0 1.5em;
}

.sidebar-list li {
  padding: 0.2em;
}

.sidebar-list li a {
  display: block;
}

/* progress */

table.progress td {
  height: 1em;
}

table.progress td.closed {
  background: #BAE0BA none repeat scroll 0 0;
}

/* all */

img {
  vertical-align: bottom;
}
